.title {
  -webkit-text-stroke: 1px var(--color-primary);
  @apply stroke-primary text-[#111];
}

.title::before {
  content: 'Type\00a0Master';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  animation: animate 5s linear infinite;

  @apply border-r-primary text-primary;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.duration-after {
  @apply duration-300;
}

.icons {
  @apply flex items-center duration-1000 ease-out;
}

.discord-tooltip {
  @apply absolute bottom-[100%] left-[57%] z-10 rounded bg-primary p-1 duration-500 ease-in;
}
